body {
    font-size: 5vw;
}
.sidenav {
            display: none;
            width: 70vw;
            background-color: #000000;
            position: fixed;
            top: 0;
            left: 0px;
            height: 100%;
            overflow-x: hidden;
            padding-top: 0vw;
            transition:15s;
}
span{
  font-size: 13vw;
  display: block;
  margin-top: -28vw;
}
.sidenav a{
 display:block;
 margin-left:0vw;
 font-size: 9vw;
 margin-top: 0vw;

}
.sidenav .closebtn{
  margin-top: 0vw;
  margin-left: 55vw;
  font-size: 20vw;
}
.ten{
  margin-left: 35vw;
  margin-top: -15vw;
}
.nine{
  
}
.tasha{
  font-size: 15vw;
  margin-left: 13vw;
}
.nun{
font-size: 4vw;
margin-left: 40vw;
margin-top: -9vw;
display:block;
}

.nun{
  color:#624283;
}
.red{
  font-size: 3vw;
}
tt{
  font-size: 2vw;
}
